
<style>
	.formkit-form[data-uid="be0daf1330"][min-width~="600"] [data-style="minimal"] {
		padding: 0 !important;
	}
	.formkit-header, .formkit-subheader, .formkit-powered-by-convertkit-container, .formkit-guarantee {
		display: none !important;
	}
	.seva-form {
		border: none !important;
	}
	.formkit-fields {
		margin: 0 !important;
	}
	.formkit-field, .formkit-submit {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
</style>

<script async data-uid="be0daf1330" src="https://worksmartertool.ck.page/be0daf1330/index.js"></script>
