---
# Lets add a comment to make this file sass-y.
# Change this file for any custom CSS.
---
// Import partials from `sass_dir` (defaults to `_sass`)

@import
	"syntax"
;

.card-block {
	padding: 10px;
}

.img_post {
	// padding-right: 0;
}

.img_post img {
	max-width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
}

.gototop {
	position: fixed;
	right: 20px;
	color: white;
	bottom: 20px;
	padding: 8px 13px;
	background: #2f2f2f;
	border-radius: 4px;
	cursor: pointer;
}

#table-of-contents {
	background: #eee;
	padding: 10px;
	margin-bottom: 20px;
}

#table-of-contents ul {
	margin-bottom: 0;
  	list-style: decimal;
}

#table-of-contents a {
	color: #1c1c1c;
  	font-size: 15px;
}

#table-of-contents p:first-child {
	font-weight: 600;
	margin-bottom: 10px;
}

.toc__list {
	border: 1px solid #eee;
	border-radius: 4px;
	line-height: 1.5rem;
	font-weight: 400;
}

.toc__sublist li {
	padding-left: 1.25rem;
}

.toc-h2:first-child {
	// margin-top: 1rem;
}  

#toc a {
	color: #BE185D;
}

#toc a:hover {
	color: #9D174D;
}

#breadcrumbs {
	text-wrap: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 41px;
	margin-top: -30px;
	font-size: 14px;
}

#breadcrumbs a {
	color: #c02164;
}

.search {
	position: relative;
	margin-bottom: 30px;
	border: 1px solid #e1e1e1;
    border-radius: 4px;
    border-top: 0;
}

.search input {
	border-radius: 4px;
}

.search i {
	position: absolute;
    right: 8px;
    top: 8px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: black;
    cursor: pointer;
    font-style: normal;
}

.search svg {
	position: absolute;
    right: 9px;
    top: 9px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    color: #5b5b5b;
}

.navbar-toggler {
	border: none;
}

.bottompagination span.navigation a {
	padding: 8px 5px;
}

.home_tag ul.tags {
	margin-bottom: 5px;
}

.home_tag ul a{ 
	background: #efefef !important;
	font-weight: 300 !important;
}

@media screen and (min-width:768px) {
	.post_no_pl {
		padding-left: 0;
	}
}

.btn-success {
	background-color: #272727;
    border-color: #292929;
}

.btn-success:hover {
	background-color: #af2c6a;
    border-color: #af2c6a;
}

.img_post img {
	transition: transform .5s ease;
}

.img_post img:hover {
	transform: scale(1.3);
}

.thumb_image {
	display: block;
    overflow: hidden;
    height: 100%;
}

.wrapintro {
	background: transparent;
}

.wrapintro h1, .wrapintro h2 {
	color: white;
}

.navbar-toggleable-md .navbar-nav .nav-link {
	text-transform: none;
	font-weight: bold;
}

#results-container {
	list-style: none;
	border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
	margin-bottom: 0;
	padding-left: 15px;
}

#results-container li {
	padding-top: 3px;
    padding-bottom: 3px;
	overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

#results-container li:last-child {
	padding-bottom: 10px;
}

#results-container li:first-child {
	padding-top: 10px;
}

#results-container li a {
	color: black;
}

